<!DOCTYPE html>
<html>
  <head>
    <title>New Sails App</title>

    <!-- Viewport mobile tag for sensible mobile support -->
    <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1">


    <!--STYLES-->
    <link rel="stylesheet" href="/styles/importer.css">
    <!--STYLES END-->
  </head>

  <body>
    <%- body %>

    <!--SCRIPTS-->
    <script src="/js/dependencies/sails.io.js"></script>
    <script src="/js/jquery.slides.min.js"></script>
    <script src="/js/jquery.tooltipster.js"></script>
    <script src="/js/jquery.tooltipster.min.js"></script>
    <script src="/js/main.js"></script>
    <script src="/js/userOData.js"></script>
    <!--SCRIPTS END-->
  </body>
</html>
