<!-- Default home page -->

  <link rel="stylesheet" href="css/font-awesome.min.css">
<link type="text/css" href='http://sailsjs.org/styles/fonts.css' rel='stylesheet'/>
<link rel="stylesheet" type="text/css" href="/css/homepage.css">
<link rel="stylesheet" type="text/css" href="/css/details.css">
<link rel="stylesheet" type="text/css" href="/css/progressbar.css">

  <link rel="stylesheet" href="/css/style.css"> <!-- Resource style -->
<script src="http://code.jquery.com/jquery-1.9.1.min.js"></script>
<script src="js/jquery.slides.min.js"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/masonry/3.3.2/masonry.pkgd.min.js"></script>
<script src="js/jquery-te-1.4.0.min.js"></script>
<script src="js/jquery-te-1.4.0.min.js"></script>
<link rel="stylesheet" type="text/css" href="/css/slidecss.css">
<link rel="stylesheet" type="text/css" href="/css/projectPod.css">

<link rel="stylesheet" href="/css/styleTaskTable.css">
<link rel="stylesheet" href="/css/text-input.css">
<link rel="stylesheet" href="/css/login.css">
<link rel="stylesheet" href="/css/buttonsHref.css">
<link rel="stylesheet" href="/css/modalPopUp.css">
<link rel="stylesheet" href="/css/jquery-te-1.4.0.css">
<script src="js/taskControllerjs.js"></script>


<!-- code.jquery.com/jquery-1.11.3.min.js -->

<script src="https://cdn.datatables.net/1.10.10/js/jquery.dataTables.min.js"></script>
<script src="https://cdn.datatables.net/buttons/1.1.0/js/dataTables.buttons.min.js"></script>
<script src="https://cdn.datatables.net/select/1.1.0/js/dataTables.select.min.js"></script>
<script src="js/dataTables.editor.min.js"></script>

<link rel="stylesheet" href="https://cdn.datatables.net/1.10.10/css/jquery.dataTables.min.css">
<link rel="stylesheet" href="https://cdn.datatables.net/buttons/1.1.0/css/buttons.dataTables.min.css
">
<link rel="stylesheet" href="https://cdn.datatables.net/select/1.1.0/css/select.dataTables.min.css">
<link rel="stylesheet" href="/css/editor.dataTables.min.css">

<div class="default-page" ng-app="fanimateApp" ng-controller="taskController as incontroller">

<div style="float: left;margin-top: -98px;margin-left:30px;" class="logoPositioner" >
<img src="/images/Logo_Fanimate.png" height="250" > 
</div>


<div style="float: left;margin-left:30px;margin-top:7px;width:300px" >
<div id='search-box' style="margin-top:0px;margin-left: 310px">
<form action='/search' id='search-form' method='get' target='_top'>
<input id='search-text' name='q' placeholder='Search' type='text'/>
<button id='search-button' type='submit'>                     
<span>{{ incontroller.welcome() }}</span>
</button>
</form>
</div>
</div>




<div style="float: right;margin-right:30px;" >
 
</div>
    <div class="header">
        
        
    </div>
    <div class="main container clearfix">
        <div class="container">
<div style="position: absolute;width: 100%;margin: 0;margin-top: -50px;width: 50px;right: 120px;z-index: 41;">
<% if (req.session.currentUser==undefined){ %>
  <a  class="modalBtn trigger" href="javascript:;"><img src="/images/Login.png"></a>
  <a  class="modalBtn trigger2" href="javascript:;" style="margin-left:-60px;margin-top:-22px"><img src="/images/register.png" ></a>
<% } else { %>
<table style="border-spacing:15px;margin-left:-200px;margin-top:-25px;" >
  <tr>
    
    <td style="text-align: center;">
    <a id="boxToolTip" href="#"><img src="/images/Menu__0001_Box.png" /></a>
    </td >
    <td style="text-align: center;">
      <a id="exclamationToolTip" href="#"><img src="/images/Menu__0000_Exclamation.png"  /></a>
    </td>
    <td style="text-align: center;">
      <a id="questionToolTip" href="#"><img src="/images/Menu__0002_QuestionMark.png"  /></a>
    </td>
    <td style="text-align: center;">
    <a id="mailToolTip" href="#"><img src="/images/Menu__0004_mail.png"  /></a>
    </td>
    <td>
      <a id="moneyToolTip" href="#"><img src="/images/Menu__0003_Money.png" /></a>
    </td>
    
    
    
    <td style="text-align: center;">
    <div >
      <a  href="javascript:logoutProcess();" id="logoutTooltip"><img src="/images/logout.png"  /></a>
      </div>
    </td>

  </tr>
  

  </tr>
</table>
  
  

<% } %>
</div>

          <table  style="width:100%;background-image: url('/images/bg2_opaque.png');background-repeat: no-repeat;background-position: center bottom;">
          <col style="width:40%">

  <tr>
    <td>
    <h2 class="hdg" style="margin-top:0px;text-align:center">
<div class="input-group">
        <input type="text" id="project-name" class="m-input" style="text-align:center;font-size: 22px;">
        <label for="project-name" style="left: 230px;">PROJECT NAME</label>
    </div>
    </h2>
    <!-- <img src="/images/dishonoredcover_2255782b.jpg"> -->
    <div style="height:350px;width:600px;border-style: dotted;"></div>
    </td>

    <td ><div class="cut">
    <div class="cut-bd cut-bd_green">
      <div class="cut-hd cut-hd_green">
        <h3 class="hdg">PREVIEW</h3>
      </div>
      <div style="width:293px;height:450px;" class="grid-item ">

            <div class="tucked-corners" style="background-image: url(/images/metal_gear.png);background-repeat: no-repeat; background-position: 0px -110px; "></div>
            <div class="projectPodBackground"></div>

<table class="podContent">
  <tr>
    <td><h1>lorem ipsum</h1></td>
    <td><img src="/images/License_Button.png" width="70"></td>
    <td></td>
    
  </tr>
  <tr>
    <td>by Jackson</td>
    <td></td>
    <td></td>
    
  </tr>
  <tr>
    <td>Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do  </td>
    <td></td>
    <td></td>
    
  </tr>
  
</table> 
<div class="meter" style="width:80%;padding:1px;margin:0px 0px 0px;margin-left:20px">
  <span style="width: 25%"></span>
</div>
<table style="margin-left:20px; width:100% ">
  <tr>
    <td><img src="/images/Icon_Fans.png" width="20"></td>
    <td><img src="/images/Icon_Progress.png" width="20"></td>
    <td><img src="/images/Icon_Pay.png" width="20"></td>
    <td><img src="/images/Icon_Time.png" width="20"></td>
  </tr>
  <tr>
    <td>300</td>
    <td>25%</td>
    <td>$250</td>
    <td>7 days</td>
  </tr>
  <tr>
    <td><h5>Fans</h5></td>
    <td><h5>Done</h5></td>
    <td><h5>Honeys</h5></td>
    <td><h5>to go</h5></td>
  </tr>
  
  
</table> 

</div>
      
      
  </div>  </td>
  </tr>
  <tr style="border-bottom:2pt solid #1abc9c;">
                <th>
                <br>
                <br>Description</th>
                <td>License type</td>
                
        </tr >

    
    
  
</table>

<div class="cd-tabs">
  <nav>
    <ul class="cd-tabs-navigation">
      <li><a data-content="inbox" class="selected" href="#0">Project</a></li>
      <li><a data-content="new" href="#0">Video</a></li>
      <li><a data-content="gallery" href="#0">Team</a></li>
      <li><a data-content="store" href="#0">Sponsors</a></li>
      
    </ul> <!-- cd-tabs-navigation -->
  </nav>

  <ul class="cd-tabs-content">
    <li data-content="inbox" class="selected">
    <textarea name="project-info" id="project-info" class="jqte-test" style="height:400px"></textarea>
    </li>

    <li data-content="new">
      <textarea name="project-video" id="project-video" class="jqte-test" style="height:400px"><b></textarea>
    </li>

    <li data-content="gallery">
      <p>Gallery Lorem ipsum dolor sit amet, consectetur adipisicing elit. Cumque tenetur aut, cupiditate, libero eius rerum incidunt dolorem quo in officia.</p>

      <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. A ipsa vero, culpa doloremque voluptatum consectetur mollitia, atque expedita unde excepturi id, molestias maiores delectus quos molestiae. Ab iure provident adipisci eveniet quisquam ratione libero nam inventore error pariatur optio facilis assumenda sint atque cumque, omnis perspiciatis. Maxime minus quam voluptatum provident aliquam voluptatibus vel rerum. Soluta nulla tempora aspernatur maiores! Animi accusamus officiis neque exercitationem dolore ipsum maiores delectus asperiores reprehenderit pariatur placeat, quaerat sed illum optio qui enim odio temporibus, nulla nihil nemo quod dicta consectetur obcaecati vel. Perspiciatis animi corrupti quidem fugit deleniti, atque mollitia labore excepturi ut.</p>
    </li>

    <li data-content="store">
      <p>Store Lorem ipsum dolor sit amet, consectetur adipisicing elit. Earum recusandae rem animi accusamus quisquam reprehenderit sed voluptates, numquam, quibusdam velit dolores repellendus tempora corrupti accusantium obcaecati voluptate totam eveniet laboriosam?</p>

      <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Eligendi, enim, pariatur. Ab assumenda, accusantium! Consequatur magni placeat quae eos dicta, cum expedita sunt facilis est impedit possimus dolorum sequi nostrum nobis sit praesentium molestias nulla laudantium fugit corporis nam ut saepe harum ipsam? Debitis accusantium, omnis repudiandae modi, distinctio illo voluptatibus aperiam odio veritatis, quam perferendis eaque ullam. Temporibus tempore ad voluptates explicabo ea sit deleniti ipsum quos dolores tempora odio, ab corporis molestiae, eaque optio, perferendis! Cumque libero quia modi! Totam magni rerum id iusto explicabo distinctio, magnam, labore sed nemo expedita velit quam, perspiciatis non temporibus sit minus voluptatum. Iste, cumque sunt suscipit facere iusto asperiores, ullam dolorum excepturi quidem ea quibusdam deserunt illo. Nesciunt voluptates repellat ipsam.</p>
    </li>

    
  </ul> <!-- cd-tabs-content -->

</div> <!-- cd-tabs -->
<div id="buttonC">

<a class="button" href="javascript:validateSaveProcess();" id="save-and-publish">Publish</a>
  

  
</div>
     <div >
<section style="background-color:#0596A0"> <!--for demo wrap-->
<h1 style="text-align:left" class="h1-task">Project task <a style="float:right;" class="buttonTask" href="javascript:openTaskCreator();" id="save-and-publish">Add new task+</a>
</h1>  
<div  class="tbl-header">

<table cellpadding="0" cellspacing="0" border="0" class="table-task">
  <thead>
    <tr>
      <th>NUMBER</th>
      <th>NAME</th>
      <th>STATUS</th>
      <th>DESCRIPTION</th>
      <th>PRICE</th>
      <th>TIME</th>
      <th>AVAILABLE</th>
    </tr>
  </thead>
</table>
</div>
<div  class="tbl-content">

<table cellpadding="0" cellspacing="0" border="0" class="table-task display" id="example">
  <tbody>
    <tr>
      <td>AAC</td>
      <td>AUSTRALIAN COMPANY </td>
      <td>$1.38</td>
      <td>+2.01</td>
      <td>-0.36%</td>
      <td>-0.36%</td>
      <td>-0.36%</td>
    </tr>
    <tr>
      <td>AAD</td>
      <td>AUSENCO</td>
      <td>$2.38</td>
      <td>-0.01</td>
      <td>-1.36%</td>
      <td>AUSENCO</td>
      <td>AUSENCO</td>
    </tr>
  </tbody>
</table>
</div>
</section>


     </div>   
    
    
   </div>
        <div style="margin-left:50px;z-index:40;margin-top:30px" class="main-project">
        
           
       </div>
        <div class="links">
       
        <div style="width:320px;height:370px;" class="grid-item">
            
</div>

        
        </div>
    </div>
    <!-- <div id="footer" >
    
</div> -->
<div class="modal-wrapper" id="modal-login" >
  <div class="modal" style="width:450px;margin-left:-150px">
    <div class="modalHead">
      <!-- <a class="btn-close trigger" href="javascript:;"></a> -->
    </div>
    <div class="modalContent">
    


    <div class="create-task-wrapper" >

  <div class="login-container">
    <h1 style="color:white;">new task </h1>
    <div></div>
    <form class="form login-form" id="loginSubmit" onsubmit="return false;" style="color:white">
      {{incontroller.welcome()}}:<input type="text" placeholder="Task name" class="login-form-input" id="u_name">
      <select class="login-form-input">
  <option ng-repeat="elemento in incontroller.homePods" value="{{ elemento.ivalue }}">{{elemento.name}}</option>
</select>
      <textarea rows="9" cols="50" class="login-form-input" placeholder="Describe the task">

</textarea>
      <button type="submit" id="login-button" class="login-form-button" >Create</button>
    </form>
  </div>
  
  <ul class="bg-bubbles">
    <li></li>
    <li></li>
    <li></li>
    <li></li>
    <li></li>
    <li></li>
    <li></li>
    <li></li>
    <li></li>
    <li><img src="../images/hexagon_red.png"></li>
  </ul>
</div>
<div style="position:absolute;z-index:51;right:0px;margin-top:-55px;">
  <a class="btn-close trigger" href="javascript:alert('close');" style="margin-top:-50px;" ></a>
</div>

    </div>
  </div>
</div>
</div>



<script>
var editor;
        $(function() {
          $('.jqte-test').jqte();
          $('.jqte_editor').css({ height: '450px' });
      $(".meter > span").each(function() {
        $(this)
          .data("origWidth", $(this).width())
          .width(0)
          .animate({
            width: $(this).data("origWidth")
          }, 1200);
      });


      editor = new $.fn.dataTable.Editor( {
        ajax: "/getAuthorTasks",
        table: "#example",
        fields: [ {
                label: "First name:",
                name: "first_name"
            }, {
                label: "Last name:",
                name: "last_name"
            }, {
                label: "Position:",
                name: "position"
            }
        ]
    } );



    });


  </script>
