<!-- Default home page -->

  <link rel="stylesheet" href="css/font-awesome.min.css">
<link type="text/css" href='http://sailsjs.org/styles/fonts.css' rel='stylesheet'/>
<link rel="stylesheet" type="text/css" href="/css/homepage.css">
<script src="http://code.jquery.com/jquery-1.9.1.min.js"></script>
<script src="js/jquery.slides.min.js"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/masonry/3.3.2/masonry.pkgd.min.js"></script>

<script src="/js/masonry-directive.js"></script>




<link rel="stylesheet" type="text/css" href="/css/slidecss.css">
<link rel="stylesheet" type="text/css" href="/css/projectPod.css">
<link rel="stylesheet" type="text/css" href="/css/progressbar.css">
<link rel="stylesheet" href="/css/modalPopUp.css">
<link rel="stylesheet" href="/css/login.css">
<link rel="stylesheet" type="text/css" href="css/tooltipster.css" />
  <link rel="stylesheet" type="text/css" href="css/themes/tooltipster-light.css" />
  <link rel="stylesheet" type="text/css" href="css/themes/tooltipster-noir.css" />
  <link rel="stylesheet" type="text/css" href="css/themes/tooltipster-punk.css" />
  <link rel="stylesheet" type="text/css" href="css/themes/tooltipster-shadow.css" />
  <script type="text/javascript" src="js/jquery.tooltipster.js"></script>
  <script src='https://www.google.com/recaptcha/api.js'></script>

<script src="/js/userOData.js"></script>
<script src="js/homeController.js"></script>
<!-- comentario -->
<link rel="icon" 
      type="image/png" 
      href="/icons/bee.png">

<div class="default-page" ng-app="fanimateApp" ng-controller="homeController as incontroller">

<div style="float: left;margin-top: -98px;margin-left:30px;" class="logoPositioner" >
<img src="/images/Logo_Fanimate.png" height="250" > 
</div>
<div style="margin-top:7px" >

</div>

    <div class="header">
        
        
    </div>
    <div class="main container clearfix">
        <div class="container">
        
        <div id="watermark" style="top:310px;">
            <img src="images/mask_home.png" alt="Photo by: Missy S Link: http://www.flickr.com/photos/listenmissy/5087404401/">
        </div>

    <div id="slides">
    <!-- <img src="images/mask_home.png" alt="Photo by: Missy S Link: http://www.flickr.com/photos/listenmissy/5087404401/"> -->
    
      <img src="/images/samples/Welcome_1.jpg" >
      <img src="/images/samples/Welcome_2.jpg" >
      <img src="/images/samples/Welcome_3.jpg" >
      <img src="/images/samples/Welcome_4.jpg" >
      <img src="/images/samples/Welcome_5.jpg" >
      <img src="/images/samples/Welcome_6.jpg" >
      <img src="/images/samples/Welcome_7.jpg" >
      <img src="/images/samples/Welcome_8.jpg" >
      <img src="/images/samples/Welcome_9.jpg" >

      
      <a href="#" class="slidesjs-previous slidesjs-navigation">
      <i class="icon-chevron-left icon-large"></i></a>
      <a href="#" class="slidesjs-next slidesjs-navigation">
      <i class="icon-chevron-right icon-large"></i></a>
    </div>
    




  </div>
      <div id='search-box' >
<form action='/search' id='search-form' method='get' target='_top'>
<input id='search-text' name='q' placeholder='{{ incontroller.welcome() }}' type='text'/>
<button id='search-button' type='submit'>                     
<span>Search</span>
</button>
</form>
</div>

<div id='entrance_login' >
<div class="page-wrapper">
<% if (req.session.currentUser==undefined){ %>
  <a  class="modalBtn trigger" href="javascript:;"><img src="/images/Login.png"></a>
  <a  class="modalBtn trigger2" href="javascript:;" style="margin-left:-60px;margin-top:-22px"><img src="/images/register.png" ></a>
<% } else { %>
<table style="border-spacing:15px;margin-left:-200px;margin-top:-25px;">
  <tr>
    
    <td style="text-align: center;">
    <a id="boxToolTip" href="#"><img src="/images/Menu__0001_Box.png" /></a>
    </td >
    <td style="text-align: center;">
      <a id="exclamationToolTip" href="#"><img src="/images/Menu__0000_Exclamation.png"  /></a>
    </td>
    <td style="text-align: center;">
      <a id="questionToolTip" href="#"><img src="/images/Menu__0002_QuestionMark.png"  /></a>
    </td>
    <td style="text-align: center;">
    <a id="mailToolTip" href="#"><img src="/images/Menu__0004_mail.png"  /></a>
    </td>
    <td>
      <a id="moneyToolTip" href="#"><img src="/images/Menu__0003_Money.png" /></a>
    </td>
    
    
    
    <td style="text-align: center;">
    <div >
      <a  href="javascript:logoutProcess();" id="logoutTooltip"><img src="/images/logout.png"  /></a>
      </div>
    </td>

  </tr>
  

  </tr>
</table>
  
  

<% } %>
</div>
<div class="modal-wrapper" id="modal-login">
  <div class="modal">
    <div class="modalHead">
      <!-- <a class="btn-close trigger" href="javascript:;"></a> -->
    </div>
    <div class="modalContent">
    


    <div class="login-wrapper">

  <div class="login-container">
    <h1 style="color:white;">Welcome </h1>
    
    <form class="form login-form" id="loginSubmit" onsubmit="return false;">
      <input type="text" placeholder="Username" class="login-form-input" id="u_name">
      <input type="password" placeholder="Password" class="login-form-input" id="u_pwd">
      <button type="submit" id="login-button" class="login-form-button" onclick="javascript:validateUserLogin();" >Login</button>
    </form>
  </div>
  
  <ul class="bg-bubbles">
    <li></li>
    <li></li>
    <li></li>
    <li></li>
    <li></li>
    <li></li>
    <li></li>
    <li></li>
    <li></li>
    <li><img src="../images/hexagon_red.png"></li>
  </ul>
</div>
<div style="position:absolute;z-index:51;right:0px;margin-top:-55px;">
  <a class="btn-close trigger" href="javascript:alert('close');" style="margin-top:-50px;" ></a>
</div>

    </div>
  </div>
</div>





<!-- begin modal drive -->

<div class="modal-wrapper" id="modal-drive">
  <div class="modal">
    <div class="modalHead">
      <!-- <a class="btn-close trigger" href="javascript:;"></a> -->
    </div>
    <div class="modalContent">
    


    <div class="login-wrapper">

  <div class="login-container">
    <h1 style="color:white;">Once you register an account, you must link your google drive. </h1>
    
    <form class="form login-form" id="loginSubmit" onsubmit="return false;">
      <button type="submit" id="login-button" class="login-form-button" onclick="javascript:validateUserLogin();" >Link now!</button>
    </form>
  </div>
  
  <ul class="bg-bubbles">
    <li></li>
    <li></li>
    <li></li>
    <li></li>
    <li></li>
    <li></li>
    <li></li>
    <li></li>
    <li></li>
    <li><img src="../images/hexagon_red.png"></li>
  </ul>
</div>
<div style="position:absolute;z-index:51;right:0px;margin-top:-55px;">
  

<a class="btn-close trigger3" href="javascript:alert('close');" style="margin-top:-50px;" ></a>
</div>

    </div>
  </div>
</div>






<!-- end modal drive -->


<div class="modal-wrapper" id="modal-register">
  <div class="modal">
    <div class="modalHead">
      <!-- <a class="btn-close trigger" href="javascript:;"></a> -->
    </div>
    <div class="modalContent">
    


    <div class="login-wrapper" style="height:550px">

  <div class="login-container">
    <h1 style="color:white;margin-top:-40px">Create account </h1>
    
    <form class="form login-form" id="loginSubmit" onsubmit="return false;" style="color:white">
    <input type="text" placeholder="Username" class="login-form-input" id="u_name2">
    <input type="text" placeholder="Name" class="login-form-input" id="u_name3">
    <input type="text" placeholder="Last name" class="login-form-input" id="u_name4">
      <input type="text" placeholder="email" class="login-form-input" id="u_namem">
      <input type="password" placeholder="Password" class="login-form-input" id="u_pwdr">
      <input type="password" placeholder="Verify password" class="login-form-input" id="u_pwdv">
      <div class="g-recaptcha" style="margin-left:150px" data-sitekey="6LeYahATAAAAAMck4QHwlQkl-79cUCeTWJLuK52t" class="login-form-input"></div>
      <button type="submit" id="login-button" class="login-form-button" onclick="javascript:validateRegistration();" >Register</button>
    </form>
  </div>
  
  <ul class="bg-bubbles">
    <li></li>
    <li></li>
    <li></li>
    <li></li>
    <li></li>
    <li></li>
    <li></li>
    <li></li>
    <li></li>
    <li><img src="../images/hexagon_red.png"></li>
  </ul>
</div>
<div style="position:absolute;z-index:51;right:0px;margin-top:-55px;">
  

<a class="btn-close trigger2" href="javascript:alert('close');" style="margin-top:-50px;" ></a>
</div>

    </div>
  </div>
</div>





</div>

        <div id="main-project-desc" style="height:300px;margin-left:50px;z-index:40;margin-top:30px;background-image: url(/images/bg_2.png);background-repeat: no-repeat;background-position: 450px -50px;background-size: 750px" class="main-project">
        <div class="columna-grid">
           <img src="/images/game_description.jpg" width="250"> 
        </div>
        <div class="" style="margin-top:-250px">
        <div style="margin-left:270px;">
            <h1>Title for project</h1>
            </div>
            <div style="margin-left:270px">
            <table style="border-spacing:25px;">
              
              <tr >
    <td>
    <div style="width:510px">Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. d fsd f dfds f dsfsd fds f df sd f Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. d fsd f dfds f dsfsd fds f df sd f </div></td>
    <td><img src="/images/Icon_Fans.png" width="30"></td>
    <td><img src="/images/Icon_Progress.png" width="30"></td>
    <td><img src="/images/Icon_Pay.png" width="30"></td>
    <td><img src="/images/Icon_Time.png" width="30"></td>
    
  </tr>
  <tr>
    <td><div class="meter" style="width:80%;padding:5px;margin:0px 0px 0px;"><span style="width: 25%"></span></div></td>
    <td>300</td>
    <td>25%</td>
    <td>$250</td>
    <td>7 days</td>
    
  </tr>
  <tr>
    <td><img src="/images/License_Button.png" width="100"></td>
    <td></td>
    <td></td>
  </tr>
            
            
            
</table>
            </div>

        </div>
           
       </div>
        <div class="links" >
       

       <!-- init home display -->
        <div style="width:293px;height:450px;" class="grid-item " ng-repeat="singlePodDisplay in incontroller.homePods">

            <div class="tucked-corners" style="background-image: url(/images/metal_gear.png);background-repeat: no-repeat; background-position: 0px -110px; "></div>
            <div class="projectPodBackground"></div>

<table class="podContent">
  <tr>
    <td><h1>{{ singlePodDisplay.name }}</h1></td>
    <td><img src="/images/License_Button.png" width="70"></td>
    <td></td>
    
  </tr>
  <tr>
    <td>by Jackson</td>
    <td></td>
    <td></td>
    
  </tr>
  <tr>
    <td>{{ singlePodDisplay.description }}  </td>
    <td></td>
    <td></td>
    
  </tr>
  
</table> 
<div class="meter" style="width:80%;padding:1px;margin:0px 0px 0px;margin-left:20px">
  <span style="width: 25%"></span>
</div>
<table style="margin-left:20px; width:100% ">
  <tr>
    <td><img src="/images/Icon_Fans.png" width="20"></td>
    <td><img src="/images/Icon_Progress.png" width="20"></td>
    <td><img src="/images/Icon_Pay.png" width="20"></td>
    <td><img src="/images/Icon_Time.png" width="20"></td>
  </tr>
  <tr>
    <td>300</td>
    <td>25%</td>
    <td>$250</td>
    <td>7 days</td>
  </tr>
  <tr>
    <td><h5>Fans</h5></td>
    <td><h5>Done</h5></td>
    <td><h5>Honeys</h5></td>
    <td><h5>to go</h5></td>
  </tr>
  
  
</table> 

</div>

<!-- end home display -->

        <div id="footer" >
    Fanimate ipsum dolor 
</div>
        </div>

    </div>
   
</div>

<script>
    $(function() {
      $('#logoutTooltip').tooltipster({offsetX:15,offsetY:35,content:"Logout"});
      $('#mailToolTip').tooltipster({offsetX:15,offsetY:35,content:"Messages"});
      $('#boxToolTip').tooltipster({offsetX:15,offsetY:35,content:"Reviews"});
      $('#questionToolTip').tooltipster({offsetX:15,offsetY:35,content:"?_?"});
      $('#exclamationToolTip').tooltipster({offsetX:15,offsetY:35,content:"Requests"});
      $('#moneyToolTip').tooltipster({offsetX:15,offsetY:35,content:"View balance"});

      $('.trigger').click(function() {
        $('#modal-login').toggleClass('open');
        $('.page-wrapper').toggleClass('blur');
        return false;
      });
      $('.trigger2').click(function() {
        $('#modal-register').toggleClass('open');
        $('.page-wrapper').toggleClass('blur');
        return false;
      });
     $('.links').masonry({
      // options...
      itemSelector: '.grid-item',
      columnWidth: 350
    });
// $('.main-project').masonry({
//   // options...
//   itemSelector: '.columna-grid',
//   columnWidth: 550
// });
      $('#slides').slidesjs({
        width: 940,
        height: 528,
        play: {
          active: true,
          auto: true,
          interval: 4000,
          swap: true
        },
        navigation: false
      });
    });
  </script>
