<!DOCTYPE html>
<html>
  <head>
    <title>New Sails App</title>

    <!-- Viewport mobile tag for sensible mobile support -->
    <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1">


    <!--STYLES-->
    <link rel="stylesheet" href="/styles/importer.css">
    <!--STYLES END-->
  </head>

  <body>
    <%- body %>

    <!--SCRIPTS-->
    <script src="/js/dependencies/sails.io.js"></script>
    <script src="/js/dataTables.editor.js"></script>
    <script src="/js/dataTables.editor.min.js"></script>
    <script src="/js/editor.bootstrap.js"></script>
    <script src="/js/editor.bootstrap.min.js"></script>
    <script src="/js/editor.foundation.js"></script>
    <script src="/js/editor.foundation.min.js"></script>
    <script src="/js/editor.jqueryui.js"></script>
    <script src="/js/editor.jqueryui.min.js"></script>
    <script src="/js/fanimateApp.js"></script>
    <script src="/js/homeController.js"></script>
    <script src="/js/jquery-te-1.4.0.min.js"></script>
    <script src="/js/jquery.slides.min.js"></script>
    <script src="/js/jquery.tooltipster.js"></script>
    <script src="/js/jquery.tooltipster.min.js"></script>
    <script src="/js/main.js"></script>
    <script src="/js/masonry-directive.js"></script>
    <script src="/js/projectOData.js"></script>
    <script src="/js/taskControllerjs.js"></script>
    <script src="/js/userOData.js"></script>
    <!--SCRIPTS END-->
  </body>
</html>
