<!-- Default home page -->

  <link rel="stylesheet" href="css/font-awesome.min.css">
<link type="text/css" href='http://sailsjs.org/styles/fonts.css' rel='stylesheet'/>
<link rel="stylesheet" type="text/css" href="/css/homepage.css">
<link rel="stylesheet" type="text/css" href="/css/details.css">
<link rel="stylesheet" type="text/css" href="/css/progressbar.css">

  <link rel="stylesheet" href="/css/style.css"> <!-- Resource style -->
<script src="http://code.jquery.com/jquery-1.9.1.min.js"></script>
<script src="js/jquery.slides.min.js"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/masonry/3.3.2/masonry.pkgd.min.js"></script>
<link rel="stylesheet" type="text/css" href="/css/slidecss.css">
<link rel="stylesheet" type="text/css" href="/css/projectPod.css">
<script type="text/javascript">
setTimeout(function sunrise () {
    document.getElementsByClassName('header')[0].style.backgroundColor = '#118798';
}, 0);
</script>

<div class="default-page">

<div style="float: left;margin-top: -55px;margin-left:30px;" >
<img src="/images/Logo_Fanimate.png" height="140" > 
</div>
<div style="float: left;margin-left:30px;margin-top:7px;width:300px" >
<div id='search-box' >
<form action='/search' id='search-form' method='get' target='_top'>
<input id='search-text' name='q' placeholder='Search' type='text'/>
<button id='search-button' type='submit'>                     
<span>Search</span>
</button>
</form>
</div>
</div>
<div style="float: right;margin-right:30px;" >
 
</div>
    <div class="header">
        
        
    </div>
    <div class="main container clearfix">
        <div class="container">


          <table  style="width:100%;background-image: url('/images/bg2_opaque.png');background-repeat: no-repeat;background-position: center bottom;">
          <col style="width:40%">

  <tr>
    <td><img src="/images/dishonoredcover_2255782b.jpg"></td>

    <td ><div class="cut">
    <div class="cut-bd cut-bd_green">
      <div class="cut-hd cut-hd_green">
        <h3 class="hdg">Proyecto 1 de prueba</h3>
      </div>
      <table>
        <tr>
          <td><h1>300</h1></td>
          <td><h1>$250</h1></td>
        </tr>
        <tr>
          <td><h1>25%</h1></td>
          <td><h1></h1></td>
        </tr>
      </table>
      <div class="meter">
  <span style="width: 25%"></span>
</div>
      
  </div>  </td>
  </tr>
  <tr style="border-bottom:2pt solid #1abc9c;">
                <th>
                <br>
                <br>Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum has been the industry's standard dummy text ever since the 1500s, when an unknown printer took a galley of type and scrambled it to make a type specimen book. It has survived not only five centuries, but also the leap into electronic typesetting, remaining essentially unchanged. It was popularised in the 1960s with the release of Letraset sheets containing Lorem Ipsum passages, and more recently with desktop publishing software like Aldus PageMaker including versions of Lorem Ipsum.</th>
                <td>Math Brooks</td>
                
        </tr >

    
    
  
</table>

<div class="cd-tabs">
  <nav>
    <ul class="cd-tabs-navigation">
      <li><a data-content="inbox" class="selected" href="#0">Project</a></li>
      <li><a data-content="new" href="#0">Story</a></li>
      <li><a data-content="gallery" href="#0">Sketch</a></li>
      <li><a data-content="store" href="#0">Admin</a></li>
      
    </ul> <!-- cd-tabs-navigation -->
  </nav>

  <ul class="cd-tabs-content">
    <li data-content="inbox" class="selected">
      <p>Inbox Lorem ipsum dolor sit amet, consectetur adipisicing elit. Earum recusandae rem animi accusamus quisquam reprehenderit sed voluptates, numquam, quibusdam velit dolores repellendus tempora corrupti accusantium obcaecati voluptate totam eveniet laboriosam?</p>

      <p>Inbox Lorem ipsum dolor sit amet, consectetur adipisicing elit. Earum recusandae rem animi accusamus quisquam reprehenderit sed voluptates, numquam, quibusdam velit dolores repellendus tempora corrupti accusantium obcaecati voluptate totam eveniet laboriosam?</p>
    </li>

    <li data-content="new">
      <p>New Lorem ipsum dolor sit amet, consectetur adipisicing elit. Non a voluptatibus, ex odit totam cumque nihil eos asperiores ea, labore rerum. Doloribus tenetur quae impedit adipisci, laborum dolorum eaque ratione quaerat, eos dicta consequuntur atque ex facere voluptate cupiditate incidunt.</p>

      <p>New Lorem ipsum dolor sit amet, consectetur adipisicing elit. Non a voluptatibus, ex odit totam cumque nihil eos asperiores ea, labore rerum. Doloribus tenetur quae impedit adipisci, laborum dolorum eaque ratione quaerat, eos dicta consequuntur atque ex facere voluptate cupiditate incidunt.</p>
    </li>

    <li data-content="gallery">
      <p>Gallery Lorem ipsum dolor sit amet, consectetur adipisicing elit. Cumque tenetur aut, cupiditate, libero eius rerum incidunt dolorem quo in officia.</p>

      <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. A ipsa vero, culpa doloremque voluptatum consectetur mollitia, atque expedita unde excepturi id, molestias maiores delectus quos molestiae. Ab iure provident adipisci eveniet quisquam ratione libero nam inventore error pariatur optio facilis assumenda sint atque cumque, omnis perspiciatis. Maxime minus quam voluptatum provident aliquam voluptatibus vel rerum. Soluta nulla tempora aspernatur maiores! Animi accusamus officiis neque exercitationem dolore ipsum maiores delectus asperiores reprehenderit pariatur placeat, quaerat sed illum optio qui enim odio temporibus, nulla nihil nemo quod dicta consectetur obcaecati vel. Perspiciatis animi corrupti quidem fugit deleniti, atque mollitia labore excepturi ut.</p>
    </li>

    <li data-content="store">
      <p>Store Lorem ipsum dolor sit amet, consectetur adipisicing elit. Earum recusandae rem animi accusamus quisquam reprehenderit sed voluptates, numquam, quibusdam velit dolores repellendus tempora corrupti accusantium obcaecati voluptate totam eveniet laboriosam?</p>

      <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Eligendi, enim, pariatur. Ab assumenda, accusantium! Consequatur magni placeat quae eos dicta, cum expedita sunt facilis est impedit possimus dolorum sequi nostrum nobis sit praesentium molestias nulla laudantium fugit corporis nam ut saepe harum ipsam? Debitis accusantium, omnis repudiandae modi, distinctio illo voluptatibus aperiam odio veritatis, quam perferendis eaque ullam. Temporibus tempore ad voluptates explicabo ea sit deleniti ipsum quos dolores tempora odio, ab corporis molestiae, eaque optio, perferendis! Cumque libero quia modi! Totam magni rerum id iusto explicabo distinctio, magnam, labore sed nemo expedita velit quam, perspiciatis non temporibus sit minus voluptatum. Iste, cumque sunt suscipit facere iusto asperiores, ullam dolorum excepturi quidem ea quibusdam deserunt illo. Nesciunt voluptates repellat ipsam.</p>
    </li>

    
  </ul> <!-- cd-tabs-content -->
</div> <!-- cd-tabs -->
     <div style="background-color:#0596A0;width:100%;height:370px;color:white">
       <h1 style="color:white;margin-left:50px;padding-top:20px;">Project task</h1>

<table style="width:95%;margin-left:2%;">
  <tr style="background-color: black;color: white;heigth:30px;" cellspacing="10">
    <th>Firstname</th>
    <th>Lastname</th>
    <th>Savings</th>
    <th>Firstname</th>
    <th>Lastname</th>
    <th>Savings</th>
    <th>Savings</th>
  </tr>
  <tr>
    <td>Peter</td>
    <td>Griffin</td>
    <td>$100</td>
     <td>Peter</td>
    <td>Griffin</td>
    <td>$100</td>
    <td>$100</td>
  </tr>
  <tr>
    <td>Peter</td>
    <td>Griffin</td>
    <td>$100</td>
     <td>Peter</td>
    <td>Griffin</td>
    <td>$100</td>
    <td>$100</td>
  </tr>
  <tr>
   <td>Peter</td>
    <td>Griffin</td>
    <td>$100</td>
     <td>Peter</td>
    <td>Griffin</td>
    <td>$100</td>
    <td>$100</td>
  </tr>
  <tr>
    <td>Peter</td>
    <td>Griffin</td>
    <td>$100</td>
     <td>Peter</td>
    <td>Griffin</td>
    <td>$100</td>
    <td>$100</td>
</tr>
</table>
     </div>   
    
    
   </div>
        <div style="margin-left:50px;z-index:40;margin-top:30px" class="main-project">
        
           
       </div>
        <div class="links">
       
        <div style="width:320px;height:370px;" class="grid-item">
            
</div>

        
        </div>
    </div>
    <!-- <div id="footer" >
    
</div> -->
</div>

<script>
        $(function() {
      $(".meter > span").each(function() {
        $(this)
          .data("origWidth", $(this).width())
          .width(0)
          .animate({
            width: $(this).data("origWidth")
          }, 1200);
      });
    });
  </script>
