@import url(http://fonts.googleapis.com/css?family=Roboto:400,100,100italic,300,300italic,400italic,500,500italic,700,700italic,900,900italic);


.card {
		background-color: white;
		max-width: 960px;
		width: 100%;
		padding: 20px;
		margin: auto;
		border-radius: 2px;
		box-shadow: 0 1px 3px rgba(0, 0, 0, 0.12), 0 1px 2px rgba(0, 0, 0, 0.24);
}



.footer {
		color: #aaa;
		opacity: 0.7;
		max-width: 960px;
		width: 100%;
		padding: 10px;
		margin: auto;
}

p {
		font-weight: 300;
}

svg {
		height: 50px;
}

.input-group {
		position: relative;
		padding-top: 20px;
		margin-top: 20px;
}

.input-group:after {
		content: "";
		display: table;
		clear: both;
}

.input-group input {
		border: none;
		border-bottom: solid 1px #ccc;
		width: 100%;
		padding: 10px 0;
		transition: border-color 0.2s ease, box-shadow 0.2s ease;
}

.input-group input:focus {
		outline: none;
		border-color: #20cfb8;
		box-shadow: 0 1px 0 0 #20cfb8;
}

.input-group label {
		position: absolute;
		top: 30px;
		left: 0;
		color: #aaa;
		font-weight: 300;
		transition: transform 0.2s ease, color 0.2s ease;
}

.input-group label:hover {
		cursor: text;
}

.input-group input:focus + label {
		color: #20cfb8;
}

.input-group input:focus + label,
.input-group input.active + label {
		transform: translateY(-30px);
}

.btn {
		float: right;
		color: #20cfb8;
		border: none;
		outline: none;
		background-color: transparent;
		border-radius: 2px;
		padding: 10px 20px;
		text-transform: uppercase;
		transition: opacity 0.2s ease, background-color 0.2s ease-in-out;
}

.btn:hover,
.btn:focus {
		background-color: #fbfbfb;
}

.btn:active {
		background-color: #f2f2f2;
}

